<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Email from SHU Dissertation Interface</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" bgcolor="#ffe77b" style="background-color:#ffffff;">
            <br>
            <br>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="70" align="left" valign="middle"></td>
                </tr>
                <tr>
                    <td align="left" valign="top" bgcolor="#564319" style="background-color:#A62147; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                        <div style="font-size:36px; color:#ffffff;">
                            <b>{0}</b>
                        </div>
                        <div style="font-size:13px; color:#a29881;">
                            <br>
                            <b>{1} : SHU Dissertation Interface</b>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;border: 3px #A62147;">
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="left" valign="middle" style="color:#525252; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                    <div style="font-size:16px;">
                                        <b>Dear {2}</b>,
                                    </div>
                                    <div style="font-size:15px;">
                                        <br>
                                        We are excited to welcome you as the newest member of our dissertation team! <br>
                                        Your role as an admin is crucial to our operations, and we look forward to working together to achieve great things.<br>
                                        <br>
                                        To get started, please follow these simple steps to activate your account: <br>
                                        <br>
                                        <b> 1.Click on the Activation Link</b>: Use the following link to activate your account.<br>
                                        <b> 2.Set Your Password</b>: Once your account is activated, you will be prompted to change your password.<br>
                                        <b> 3.Access Your Dashboard</b>: After setting your password, you can log in using your email address and the new password you just created.<br>
                                        <hr>
                                        <center>

                                            <button type="button" title="Activate Your Account" style="background: #A62147">
                                                <a href="{6}" style="font-size:22px; padding: 15px; color:#000000;text-decoration: none;">
                                                    Activate Your Account
                                                </a>
                                            </button>

                                        </center>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
                            <tr>
                                <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                    <div style="font-size:20px; color:#564319;">
                                        <b>Please find your credentials below </b>
                                    </div>
                                    <br>
                                    <div style="font-size:15px; color:#525252;">
                                        <b>Email :</b> {3}
                                        <br />
                                        <b>Username :</b> {4}
                                        <br />
                                        <b>Default Password :</b> {5}
                                        <br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br>
            <br>
        </td>
    </tr>
</table>
</body>
</html>